<div class="user-details">
  <div>
    <p>{{ 'First Name'|t }} : {{ rdv.customer_first_name }}</p>
    <p>{{ 'Last Name'|t }} : {{ rdv.customer_last_name }}</p>
  </div>

  <div>
    <p>{{ 'Email'|t }} : {{ rdv.customer_email }}</p>
    <p>{{ 'Phone'|t }} : {{ rdv.customer_phone }}</p>
  </div>
</div>
